/* Get all the texts in the various tinymce's the same. */
.mce-content-body * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529 !important;
}

.mce-content-body strong {
    font-weight: bold;
}

.mce-content-body h1, .mce-content-body h1 strong {
    font-size: 3rem !important;
}

.mce-content-body h2, .mce-content-body h2 strong {
    font-size: 2rem !important;
}

.mce-content-body h3, .mce-content-body h3 strong {
    font-size: 1.5rem !important;
}

.mce-content-body h4, .mce-content-body h4 strong {
    font-size: 1.35rem !important;
}

.mce-content-body h5, .mce-content-body h5 strong  {
    font-size: 1.15rem !important;
}

.mce-content-body blockquote {
    border-left: 5px solid #000000;
    padding-left: 10px;
}

.editor-styles-wrapper p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
}

.block-editor-rich-text__editable {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
}

.editor-post-title__input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

body.gutenberg-editor-page .editor-post-title__block, body.gutenberg-editor-page .editor-default-block-appender, body.gutenberg-editor-page .editor-block-list__block {
    max-width: none !important;
}

.block-editor__container .wp-block {
    max-width: none !important;
}


.block-editor-button-block-appender.block-list-appender__toggle {

    height: auto !important;
    width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;

}
