.badge {
  .bg-primary,
  .text-primary {
    color: $primary-color;
  }
  .bg-secondary,
  .text-secondary {
    color: $secondary-color;
  }
  .bg-supporting,
  .text-supporting {
    color: $supporting-color;
  }
  .bg-white,
  .text-white {
    color: white;
  }
}
