.impressive {
  font-family: var(--secondary-font);
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  &.bottom {
    .impressive-header {
      order: 2;
    }
  }
  .primary {
    color: $primary-color;
  }
  .secondary {
    color: $secondary-color;
  }
  .supporting {
    color: $supporting-color;
  }
}
