.lazyblock-accordion {
    &.accordions {
        .accordion-wrapper {
            padding: 1rem 2rem;
            @include border-radius($border-radius);
            border: none;
            background: $supporting-color;
            height: 100%;
            a {
                text-decoration: none;
            }
                .accordion-titlelink {
                    &:hover {
                        text-decoration: none;
                        color: var(--primary-font-color);
                    }
                    .accordion-title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h5 {
                            margin-bottom: 0;

                        }
                        .toggle-button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 1.26rem;
                            height: 1.26rem;
                            margin-bottom: 0;
                            border: 2px solid $white-color;
                            border-radius: 50%;
                            span {
                                display: inline-block;
                                position: absolute;
                                width: 13px;
                                height: 3px;
                                background-color: $white-color;
                                opacity: 1;
                                -webkit-transform: rotate(0deg);
                                -moz-transform: rotate(0deg);
                                -o-transform: rotate(0deg);
                                transform: rotate(0deg);
                                -webkit-transition: 0.2s ease-in-out;
                                -moz-transition: 0.2s ease-in-out;
                                -o-transition: 0.2s ease-in-out;
                                transition: 0.2s ease-in-out;

                                &:nth-child(2) {
                                    -webkit-transform: rotate(0deg);
                                    -moz-transform: rotate(0deg);
                                    -o-transform: rotate(0deg);
                                    transform: rotate(0deg);
                                    opacity: 0;
                                }
                            }
                        }

                    }
                    &.collapsed {
                        .accordion-title {
                            .toggle-button {
                                border-color: var(--primary-font-color);
                                span {
                                    display: inline-block;
                                    position: absolute;
                                    width: 13px;
                                    height: 3px;
                                    background-color: var(--primary-font-color);
                                    opacity: 1;
                                    -webkit-transform: rotate(0deg);
                                    -moz-transform: rotate(0deg);
                                    -o-transform: rotate(0deg);
                                    transform: rotate(0deg);
                                    -webkit-transition: 0.2s ease-in-out;
                                    -moz-transition: 0.2s ease-in-out;
                                    -o-transition: 0.2s ease-in-out;
                                    transition: 0.2s ease-in-out;

                                    &:nth-child(2) {
                                        -webkit-transform: rotate(90deg);
                                        -moz-transform: rotate(90deg);
                                        -o-transform: rotate(90deg);
                                        transform: rotate(90deg);
                                    }
                                }
                            }
                        }
                    }
                }
            .accordion-content {
                *, p {
                    margin: 1.5rem 2rem 1rem;
                    a {
                        margin-left: 0;
                    }
                }
            }
        }

    }
}

