.breadcrumb-navigation {
  .breadcrumbs {
    @media (min-width: 320px) and (max-width: 480px) {
      display: block;
    }
    display: flex;
    padding-left: 0;

    li {
      @media (min-width: 320px) and (max-width: 480px) {
        margin-bottom: 3rem;
        position: relative;
      }

      &:last-child {
        color: var(--primary-color);
      }

      a {
        color: var(--primary-color);
        text-decoration: none;
        border-bottom: 1px solid var(--primary-color);
      }

      .fas {
        padding: 0 0.5rem 0;
        font-size: 0.7rem;
        margin: auto;
        color: var(--primary-color);
        @media (min-width: 320px) and (max-width: 480px) {
          position: absolute;
          top: 37px;
          transform: rotate(90deg);
        }
      }
    }
  }
}
