.lazyblock-cards {
    align-items: stretch;
    position: relative;
    &.background-transparent {
        .card {
            background-color: transparent;
            box-shadow: none;
        }
    }
    &.background-primary {
        .card {
            background-color: $primary-color;
            // Card a elements, use the primary font color by default. Which would make it invisible.
            a {
                color: $secondary-font-color;
            }
        }
    }
    &.background-secondary {
        .card {
            background-color: $secondary-color;
        }
    }
    &.background-supporting {
        .card {
            background-color: $supporting-color;
        }
    }
    &.background-white {
        .card {
            background-color: $white-color;
        }
    }
    &.font-black {
        .card, .card p, .card h1, .card h2, .card h3, .card h4, .card h5 {
            color: black;
        }
    }
    &.font-primary {
        .card, .card p, .card h1, .card h2, .card h3, .card h4, .card h5 {
            color: $primary-font-color;
        }
    }
    &.font-secondary {
        .card, .card p, .card h1, .card h2, .card h3, .card h4, .card h5 {
            color: $secondary-font-color;
        }
    }
    &.font-white {
        .card, .card p, .card h1, .card h2, .card h3, .card h4, .card h5 {
            color: $white-color;
        }
    }
    &.border-radius {
        .card {
            @include border-radius(calc(#{$border-radius} * 2.5));
        }
    }
    &:not(.border-radius) {
        .card {
            border-radius: 0;
        }
    }
    .card {
        border: none;
        @include boxShadow($shadow-card);
        overflow: hidden;
        .card-img-wrapper {
            max-height: var(--height);
            min-height: var(--height);
            overflow: hidden;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                top: 0;
                max-width: 100vw;
                height: 100%;
                width: 100%;
                &.cover {
                    object-fit: cover;
                }
                &.contain {
                    object-fit: contain;
                }
                @media (max-width: $lg) {
                    max-width: 1000vw; // leave this if object-fit is not supported
                    object-fit: cover;
                }
            }
            .image-line {
                &::after {
                    content: "";
                    border-bottom: 10px solid $secondary-color;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 185px;
                }
            }

        }
        .card-content-wrapper {
            padding: 1.5rem;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            .card-title {
                width: 100%;
                margin-bottom: 1rem;
                p {
                    @include secondaryFont(1rem, 700);
                    line-height: 24px;
                }
            }
        }
        .card-cta {
            display: flex;
            flex: auto;
            align-items: flex-end;
            a {
                align-items: center;
                line-height: inherit;
                &::after {
                    background-position: center;
                }
            }
        }
    }
}
