.lazyblock-section {
.read-more {
  a {
    font-weight: normal;
    text-decoration: none;
  }
}

  .pagination.pagination_generic {
    background-color: white;
    justify-content: center;
    a {
      color: var(--primary-color);
      display: inline-block;
      padding: 5px;
      width: auto;
      &.active {
        font-weight: bold;
      }
    }
  }
  .pagination_loadmore {
    max-width: 225px;
    margin: 0 auto;
    a {
      margin: 0 auto;
      font-weight: bold;
      text-decoration: none;
    }
  }

.post-category-img {
  img {
    height: 200px;
    max-height: 200px;
    object-fit: cover;
  }
}
}