.lazyblock-content-video {
    .wrap {
        @include border-radius(calc(#{$border-radius} * 2.5));
        background-color: $white-color;
        @include boxShadow($shadow-card);
        padding: 0 2rem;
    }
    .embed-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: $md + 1px) {
        .content-wrapper, .embed-wrapper {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
