.lazyblock-content-image {
    &.border-radius {
        img {
            @include border-radius(calc(#{$border-radius} * 2.5));
        }
    }
    .content-wrapper,
    .image-wrapper {
        position: relative;
        @media all and (min-width: $lg) {
            padding: 0;
        }
        .fluid-image, .fluid-color {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -10;
        }
        .fluid-color {
            &.primary {
                background-color: $primary-color;
            }
            &.secondary {
                background-color: $secondary-color;
            }
            &.supporting {
                background-color: $supporting-color;
            }
        }
    }
    @media all and (max-width: $md) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        .content-wrapper {
            padding-top: 1rem;
        }
    }
}
