.lazyblock-countdown-container {
  #lazyblock-countdown {
    display: flex;

    .unit {
      padding: 2rem;
      display: grid;
      text-align: center;
    }

    .number {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 0.8rem;
    }

    .label {
      font-size: 16px;

    }
  }
}