.lazyblock-fly-in-section {
  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 9999;
  padding: 1rem;
  @include transition();
  @media all and (max-width: $ipad) {
    min-width: 50vw;
  }
  @media all and (max-width: $md) {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    height: 100vh !important;
    width: 100vw !important;
  }
  .lazyblock-fly-in-section-inner {
    padding: 1rem;
    @media all and (max-width: $md) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .flyin-section-close {
    text-align: right;
  }
  &.center {
    @media all and (min-width: $md) {
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  &.direction-left {
    left: -100vw;
    @include transition();
    &.open {
      left: 0;
      @include transition();

    }

  }

  &.direction-right {
    right: -100vw;
    @include transition();
    &.open {
      right: 0;
      @include transition();
    }
    .flyin-section-close {
      text-align: left;
    }
  }
  &:not(.fluid-color) {
    // If no color selected and on mobile, always fall back to white BG.
    @media all and (max-width: $md) {
      background-color: #FFF;
    }
  }
  &.fluid-color {
    &.primary {
      background-color: $primary-color;
      a {
        color: $secondary-color;
      }
    }

    &.secondary {
      background-color: $secondary-color;
      a {
        color: $primary-color;
      }
    }

    &.supporting {
      background-color: $supporting-color;
      a {
        color: $primary-color;
      }
    }
  }

  .flyin-section-close {
    i {
      position: relative;
      z-index: -1;
      font-size: 1.3rem;
    }
  }
}

