.lazyblock-gallery {
  .gallery-item-wrapper {
    .card {
      border: none;
      @include border-radius(0);
      overflow: hidden;

      .gallery-card-img-wrapper {
        @media (min-width: 320px) and (max-width: 681px) {
          min-height: 140px;
          height: 140px;
        }

        img {
          @media (min-width: 320px) and (max-width: 681px) {
            min-height: 140px;
            height: 140px;
          }
          cursor: pointer;
          min-height: 200px;
          height: 200px;
          width: 100%;
          overflow: hidden;
          transition: transform .5s ease-in-out;

          &:hover {
            transform: scale(1.2);
          }
        }

        min-height: 200px;
        height: 200px;
        /*padding: .75rem .35rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;*/
      }
    }

    .gallery-card-title {
      padding-bottom: 1rem;
      font-size: 0.938rem;
      font-weight: normal;
      color: #535353;

      p {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 32px;

        a {
          color: $primary-font-color;
          text-decoration: none;
        }
      }
    }
  }

  // images slider and popup
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .gallery-image-modal-popup {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    animation: 0.5s fadeIn;
    display: none;
    z-index: 9999;

    & .wrapper {
      display: flex;
      align-items: center;
      max-width: 100%;
      margin: auto;
      position: relative;
      width: 100%;
      height: 100%;
      justify-content: center;
    }

    & img {
      max-height: 100%;
      justify-content: center;
      align-items: center;
    }

    & span {
      position: absolute;
      top: 40px;
      right: 50px;
      font-size: 2rem;
      color: #fff;
      cursor: pointer;
    }

    & .next-button, & .prev-button {
      position: absolute;
      cursor: pointer;
    }

    & .next-button {
      right: 4%;
      color: #FFFFFF;
      font-size: 2rem;
    }

    & .prev-button {
      left: 4%;
      color: #FFFFFF;
      font-size: 2rem;
    }

    & .next-button:hover, & .prev-button:hover {
      color: #FFFFFF;
    }

    & .images-amount {
      color: #fff;
      position: absolute;
      bottom: -10px;
      background: #89898966;
      padding: 0rem 2rem 0rem 2rem;
    }
  }
}

.lazyblock-gallery-container {
  .pagination.pagination_generic {
    background-color: white;
    justify-content: center;
    a {
      color: var(--primary-color);
      display: inline-block;
      padding: 5px;
      width: auto;
      &.active {
        font-weight: bold;
      }
    }
  }
  .pagination_loadmore {
    max-width: 225px;
    margin: 0 auto;
    a {
      margin: 0 auto;
      font-weight: bold;
      text-decoration: none;
    }
  }

}

