.lazyblock-image-image {
    &.border-radius {
        img {
            @include border-radius(calc(#{$border-radius} * 2.5));
        }
    }
    img {
        &.cover {
            height: 100%;
            object-fit: cover;
        }
    }
}
