.lazyblock-jumbotron {
    align-items: center;
    position: relative;
    overflow: auto;
    .full-image {
        position: absolute;
        width: 100vw;
        height: 100%;
        z-index: -10;
        top: initial;
        left: 0;
        right: 0;
        margin: auto;
        &.mobile {
            display: none;
        }
    }
    @media (max-width: $md) {
        .full-image {
            height: inherit;
            display: none;
            &.mobile {
                display: block;
            }
            &.desktop {
                display: block;
            }
        }
    }
    .full-color {
        position: absolute;
        width: 100vw;
        height: 100%;
        z-index: -10;
        top: initial;
        left: 0;
        right: 0;
        margin: auto;
        &.primary {
            background-color: $primary-color;
        }
        &.secondary {
            background-color: $secondary-color;
        }
        &.supporting {
            background-color: $supporting-color;
        }
        @media (max-width: $md) {
            height: inherit;
        }
    }
    &.light-mode {
        section {
            h1,h2,h3,h4,h5,div,p {
                color: $white-color;
                * {
                    color: $white-color;
                }
            }
        }
    }
   section {
       h1 {
        max-width: 100%;
        line-height: 3.6rem;
        margin-bottom: 26px;
        position: relative;
       }
       h2 {
           max-width: 80%;
       }
       h1 + h2 {
           margin-bottom: 0;
       }
       p {
           max-width: 80%;
           margin: 30px auto 0;
       }
       a {
           margin-top: 30px;
       }
       @media (max-width: $md) {
           overflow: auto;
           h1 {
               max-width: 100%;
               line-height: normal;
               font-size: 2.2rem;
           }
           h2 {
               max-width: 100%;
           }
       }

   }

}
