.lazyblock-news {
    .news-item-wrapper {
        .news-item-category {
            @include button(primary);
            width: auto;
            margin-right: calc(var(--bs-gutter-x)/ 2);
            margin-left: calc(var(--bs-gutter-x)/ 2);
            margin-bottom: .5rem;
            @include border-radius($border-radius);
            @include secondaryFont(.65rem, 700);
            line-height: 16px;
            padding: 5px 25px;
        }
        .news-item-title {
            padding-bottom: 1rem;
            h4 {
                a {
                    color: $primary-font-color;
                    text-decoration: none;
                }
            }
        }
        .news-item-excerpt {
            padding-bottom: 1rem;
        }
        .news-item-cta {
            a {
                @include secondaryFont(.85rem, 700);
                line-height: 16px;
                text-decoration: none;
                text-decoration-color: transparent;
                @include transition();
                &:hover {
                    color: $primary-link-color;
                    text-decoration: underline;
                    text-decoration-color: $primary-link-color;
                }
            }
        }
    }
}
