.lazyblock-section {
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
    @media all and (max-width: $md) {
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
    }
    .row  {
        .col-lg-12 {
            .container-md {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
    &.container-md, &.container-fluid {
        position: relative;
        overflow: hidden;
        .container-image, .container-color, .fluid-image, .fluid-color {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -10;
        }
    }
        .container-color, .fluid-color {
            &.primary {
                background-color: $primary-color;
            }
            &.secondary {
                background-color: $secondary-color;
            }
            &.supporting {
                background-color: $supporting-color;
            }
            &.white {
                background-color: $white-color;
            }
        }
}
