.lazyblock-subscribe-form {
    overflow: hidden;
    height: 100%;
    position: relative;
    min-height: 40vh;
    .full-image {
        position: absolute;
        width: 100vw;
        min-height: 40vh;
        height: inherit;
        z-index: -10;
        top: initial;
        left: 0;
        padding: 0;
    }
    @media (max-width: $md) {
        .full-image {
            height: inherit;
        }
    }
    .full-color {
        position: absolute;
        min-height: 40vh;
        height: 100%;
        width: 100vw;
        z-index: -10;
        top: initial;
        left: 0;
        padding: 0;
        &.primary {
            background-color: $primary-color;
        }
        &.secondary {
            background-color: $secondary-color;
        }
        &.supporting {
            background-color: $supporting-color;
        }
    }
    .subscribe-wrapper {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        min-height: 40vh;
    }
  h3 {
    padding-bottom: .5rem;
  }
  h5 {
      padding-bottom: 2.3rem;
  }
    #newsletter-form {
        input {
            margin-bottom: 16px;
            background-color: transparent;
            &::placeholder {
                color: $primary-link-color;
            }
            &::-webkit-input-placeholder {
                color: $primary-link-color;
            }
            &:-ms-input-placeholder {
                color: $primary-link-color;
            }
        }
        .field-button-wrapper {
            margin: 0 auto;
        }
    }
}
