.lazyblock-teasers {
  &.border-radius {
    img {
      @include border-radius(calc(#{$border-radius} * 2.5));
    }
    .single-post-teaser, .pagination {
      @include border-radius(calc(#{$border-radius} * 2.5));
      padding: 10px;
    }
  }
  .single-post-teaser {
    background-color: white;
  }
  .pagination {
    background-color: white;
    a {
      display: inline-block;
      padding: 5px;
      width: auto;
      &.active {
        font-weight: bold;
      }
    }
  }
  .pagination_loadmore {
    max-width: 225px;
    margin: 0 auto;
    a {
      margin: 0 auto;
      font-weight: bold;
      text-decoration: none;
    }
  }
    .single-post-vertical-teaser {
        flex-direction: column;
    }
}
