.lazyblock-pricing-cards {
  .card {
    position: relative;
    background-color: #f6f6f6;
    transition: all .25s ease-in;

    &:hover {
      margin-top: -33px;

      .price-title {
        background-position: 0 0;
        color: black;
      }
    }

    .price-title {
      padding: 2rem;
      background: var(--primary-color);
      color: var(--secondary-color);
      background-image: linear-gradient(to left,
              transparent,
              transparent 50%,
              var(--secondary-color) 50%,
              var(--secondary-color));
      background-position: 100% 0;
      background-size: 200% 100%;
      transition: all .25s ease-in;
    }

    .price-amount {
      padding: 1rem;
    }

    .highlight-price {
      @media (min-width: 1024px) and (max-width: 2560px),
      (min-width: 320px) and (max-width: 480px) {
        top: 88px;
        writing-mode: vertical-lr;
        white-space: nowrap;
        padding: 20px 6px;
      }
      position: absolute;
      left: 0px;
      background: #2ECC71;
      color: #fff;
      padding: 4px 32px 4px;
      text-transform: uppercase;
      top: 88px;
    }
  }
}