.lazyblock-testimonial-container {
  .slick-slide {
    padding: 0 15px 0 15px;
  }
  .slick-arrow {
    &:before {
      color: black;
    }
  }
  .slick-arrow.prev, .slick-arrow.next {
    bottom: 0;
  }
  .lazyblock-testimonial-wrapper {
    .lazyblock-testimonial-content {
      background: #f3f4f5;
      padding: 2rem;
    }
    .lazyblock-testimonial-author-related {
      .name-title {
        p {
          color: #ccc;
        }
      }
      .author-photo {
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}