// You can setup your breakpoints so you can use them in the project, the bootstrap breakpoints are 576px - 768px - 992px - 1200px
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1440px;
$xxl: 1640px;

$ipad: 1024px;
