.btn {
    @include button(btn);
    i {
        padding-left: 7px;
        padding-right: 7px;
        top: 2px;
        position: relative;
        @include transition()
    }
    &.large {
        font-size: 175%;
    }
}
.btn-primary {
    @include button(primary);
    &.outline {
        background-color: transparent;
        color: $primary-color;
        border: .2rem solid $primary-color;
    }
    &.inverse {
        background-color: $white-color;
        color: $primary-color;
        &:hover {
            background-color: $white-color;
        }
        &:focus {
            background-color: $white-color;
            color: $primary-color;
        }
    }
    &.transparent {
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
        &:focus {
            background-color: transparent;
        }
    }
}
.btn-secondary {
    @include button(secondary);
    &.outline {
        background-color: transparent;
        color: $secondary-color;
        border: .2rem solid $secondary-color;
    }
    &.inverse {
        background-color: $white-color;
        color: $secondary-color;
        &:hover {
            background-color: $white-color;
        }
        &:focus {
            background-color: $white-color;
            color: $secondary-color;
        }
    }
    &.transparent {
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
        &:focus {
            background-color: transparent;
        }
    }
}
.btn-supporting {
    @include button(supporting);
    &.outline {
        background-color: transparent;
        color: $supporting-color;
        border: .2rem solid $supporting-color;
    }
    &.inverse {
        background-color: $white-color;
        color: $supporting-color;
        &:hover {
            background-color: $white-color;
        }
        &:focus {
            background-color: $white-color;
            color: $supporting-color;
        }
    }
    &.transparent {
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
        &:focus {
            background-color: transparent;
        }
    }
}
li.highlighted {
    a {
        @include button(btn);
        @include button(primary);
        color: $white-color !important;
    }
}
