// Setup the theme colors in here and give it a logic name

$white-color: #fff !default;
$black-color: #000 !default;

$primary-font-color: var(--primary-font-color);
$secondary-font-color: var(--secondary-font-color);

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$supporting-color: var(--supporting-color);

$primary-link-color: var(--primary-link-color);
$primary-link-hover-color: var(--primary-link-hover-color);
$secondary-link-color: var(--secondary-link-color);
$secondary-link-hover-color: var(--secondary-link-hover-color);

$color-text: #535353;
$main-body: var(--body-color);
