footer {
  flex-shrink: 0;
  background-color: $primary-color;
  color: $white-color;

  a {
    text-decoration: none;
    color: $white-color;

    &:hover {
      text-decoration: none;
    }
  }

    .footer-menu {
        padding: 55px 0;
        @media (max-width: $lg) {
            padding: 30px 0;
        }

        .footer-menu-logo {
            //height: 80px;
            margin-bottom: 5px;
            a {
                display: inline-block;
            }
                img {
                    height: var(--logo-footer-height);
                    max-height: var(--logo-footer-height);
                    @media (max-width: $md - 1px) {
                        height: var(--logo-footer-height-mobile);
                        max-height: var(--logo-footer-height-mobile);
                    }
                }
        }
        .copyright-wrapper {
            .copyright {
                @include secondaryFont(.8rem, 400);
                line-height: 16px;
            }
        }
        .socials-wrapper {
            #social-icons {
                display: flex;
                margin-top: 1rem;
                margin-bottom: 1rem;

                .social-icon {
                    a {
                        margin-right: .9rem;
                        i {
                            color: $primary-color;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background-color: $white-color;

                            &:before {
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                            }
                        }
                    }
                    &:last-child {
                        a {
                            margin-right: 0;
                        }

                    }
                }
            }
            a {
                @include secondaryFont(.8rem, 400);
                line-height: 16px;
                padding: 0;
                color: $white-color;
                text-decoration: none;
                &:hover {
                    color: $white-color;
                    text-decoration: underline;
                }
            }
        }
        .contact-wrapper {
            h6 {
                @include secondaryFont(.8rem, 800);
                line-height: 16px;
                height: var(--logo-footer-height);
                display: flex;
                align-items: center;
                margin-bottom: 5px;
            }
            .contact-information {
                p {
                    @include secondaryFont(.8rem, 400);
                    line-height: 16px;
                    color: $white-color;
                    margin-bottom: 0;
                    padding: 0 0 10px 0;
                    /*&:nth-of-type(1n+3) {
                        margin-bottom: 10px;
                    }*/
                    a {
                        line-height: 16px;
                        padding: 0 0 10px 0;
                        color: $white-color;
                        text-decoration: none;
                        &:hover {
                            color: $white-color;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        #footer-nav-pages, #footer-nav-policies {
            h6 {
                @include secondaryFont(.8rem, 800);
                line-height: 16px;
                height: var(--logo-footer-height);
                display: flex;
                align-items: center;
                margin-bottom: 5px;
            }
            ul {
                @include list_reset;
                li {
                    a {
                        @include secondaryFont(.8rem, 400);
                        line-height: 16px;
                        padding: 0 0 10px 0;
                        color: $white-color;
                        text-decoration: none;
                        &:hover {
                            color: $white-color;
                            text-decoration: underline;
                        }
                    }
                }
            }

        }
        .certs-org-title {
            h6 {
                @include secondaryFont(.8rem, 800);
                line-height: 16px;
                height: var(--logo-footer-height);
                display: flex;
                align-items: center;
                margin-bottom: 0;
            }
        }
        .certs-org-logo-wrapper {
            flex-flow: row wrap;
            justify-content: space-between;
            .footer-certs-org-logo {
                height: auto;
                margin-bottom: 0;
                position: relative;
                display: flex;
                align-items: center;
                a {
                    position: absolute;
                    display: flex;
                    width: 100%;
                    height: 100%;
                }
                img {
                    max-height: 65px;
                    margin-bottom: 1rem;
                    @media (max-width: $md - 1px) {
                        height: auto;
                    }
                }
            }
        }
    }
}
.branding-information {
    background: #262626;
    p {
        color: #e9e9e9cc;
        margin-bottom: 0;
    }
    a {
        img {
            @media (min-width: 320px) and (max-width: 480px) {
                width: 48px;
            }
            width: 80px;
        }
    }
}
