.bottom-bordered {
    .form-control {
        border-bottom: 2px solid $primary-link-color;
        border-radius: 0;
        &:focus {
            border-color: transparent;
            box-shadow: none;
            color: $primary-link-color;
            border-bottom: 2px solid $primary-link-color;
        }
    }
}
.form-regular {
    .form-control {
        border: 1px solid $primary-link-color;
        border-radius: 0;
    }
}
.form-control {
    @include secondaryFont(1.25rem , 400);
    line-height: 28px;
    border: none;
    color: $primary-link-color;
}

.form-check {
    padding-left: 0;

    input {
        margin-top: 0;
        margin-left: 0;
    }
}
