// Top menu
.admin-bar header .navbar-container {
    top: 32px;
    @media screen and (max-width: 1200px) {
        .col-md-10 {
            &>.menu {
                position: fixed;
                top: 135px;
            }
        }
    }
    @media screen and (max-width: 767px) {
        top: 46px;
        .menu-button-wrapper {
            top: 65px;
        }
    }
}
#wpadminbar {
    @media screen and (max-width: 600px) {
        position: fixed;
    }
}
.navbar-container {
    &.menu-top {
        background-color: $white-color;
        @include transition();
    }

    &.navbar-scroll {
        @include boxShadow($shadow-card);
    }

    .navbar {
        min-height: 60px;
        @media (min-width: $lg + 1px) {
            align-items: center;
            justify-content: center;
            min-height: 120px;
            padding: 0;
        }
        z-index: 999;

        .navbar-brand {
            z-index: 20;
            padding: 0;
            display: flex;
            align-items: center;
            min-height: 60px;

            a {
                text-decoration: none;
                color: $color-text;
                @include transition();
                padding-right: 24px;
                @include secondaryFont(1.25rem, 700);
                @media (max-width: $lg) {
                    padding-right: 20px;
                }
                @media (min-width: 2560px) {
                    font-size: 1.15rem;
                }

                &:hover {
                    @include transition();
                    color: $primary-link-color;
                }

                img {
                    max-height: var(--logo-height);
                    height: var(--logo-height);
                    @media (max-width: $ipad) {
                        max-height: var(--logo-height-mobile);
                        height: var(--logo-height-mobile);
                    }
                    /*@media (max-width: $md) {
                        max-height: 60px;
                        height: 60px;
                    }*/
                }
            }

        }
        .navbar-toggler {
            border: none;
            min-height: 60px;
            i {
                font-size: 2rem;
            }
            &:focus {
                box-shadow: none;
            }
        }

        #navbarNav {
            position: relative;
            z-index: 20;
            justify-content: center;
            @media (max-width: $lg) {
                padding: 1.5rem;
            }

            ul {
                align-items: center;
                padding-right: 0;

                li {
                    @include list_reset;
                    white-space: nowrap;

                    a {
                        text-decoration: none;
                        color: $color-text;
                        @include transition();
                        display: inline-block;
                        position: relative;
                        margin-right: 2rem;
                        margin-top: .3rem;
                        padding: 0;
                        @include secondaryFont(1.25rem, 700);

                        &:hover {
                            @include transition();
                            color: $primary-link-color;
                        }

                        @media (max-width: $lg) {
                            margin-right: 0;
                            margin-top: 0;
                            margin-bottom: 1.5rem;
                        }
                        @media (min-width: 2560px) {
                            font-size: 1.15rem;
                        }
                    }

                    &.active {
                        a {
                            color: $primary-link-color;
                        }
                    }

                    &.menu-item-has-children {
                        position: relative;

                        &.active {
                            a {
                                color: initial;
                            }
                        }
                    }
                    &:last-child {
                        a {
                            margin-right: 0;
                        }
                    }
                }
            }

            .dropdown-menu {
                padding: 5px;
                background-color: $white-color;
                li {
                    a {
                        margin-bottom: 0.5rem;
                    }
                }

                a {
                    color: $color-text;
                }
            }

            #social-icons {
                display: flex;
                @media (max-width: $lg) {
                    justify-content: center;
                    margin-bottom: 1rem;
                }
                .social-icon {
                    @media (max-width: $lg) {
                        &:last-child {
                            a {
                                margin-right: 0;
                            }

                        }
                    }
                    a {
                        margin-right: .9rem;
                        i {
                            color: $white-color;
                            width: 35px;
                            height: 35px;
                            border-radius: 50px;
                            background-color: black;

                            &:before {
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                            }
                        }
                    }
                }
            }

        }

        .language-dropdown {
            position: relative;
            cursor: pointer;
            color: $color-text;
            text-transform: uppercase;
            margin-left: 2rem;

            .dropdown-toggle {
                display: flex;
                align-items: center;
                padding: 0;
                a {
                    color: $color-text;
                    @include secondaryFont(1.25rem, 700);
                    line-height: 28px;
                    margin-top: .3rem;
                    &:hover {
                        color: $primary-link-color;
                    }
                    @media (min-width: 2560px) {
                        font-size: 1.15rem;
                    }
                }

                &::after {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 700;
                    font-size: inherit;
                    content: "\f107";
                    display: inline-block;
                    vertical-align: baseline;
                    @include transition();
                    border: none;
                }

                &:hover {
                    color: $primary-link-color;

                    &::after {
                        @include transition();
                        transform: rotate(-180deg);
                    }
                }

                &.hoverstate {
                    &::after {
                        transform: rotate(-180deg);
                    }
                }
            }


            .other-language {
                position: absolute;
                color: $color-text;
                padding: 0;
                min-width: 100%;
                flex-flow: column wrap;
                background: $white-color;
                @include transition();
                border: none;
                visibility: hidden;
                opacity: 0;

                &.show {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .language-item {
                color: $color-text;
                @include secondaryFont(1.25rem, 700);
                @include transition();
                text-decoration: none;
                margin-right: 0;
                padding: .4rem 0 0;
                display: inline-flex;

                &:last-of-type {
                    padding-bottom: .4rem;
                }

                &::before {
                    display: none;
                }

                &::after {
                    display: none;
                }

                &:hover {
                    color: $primary-link-color;

                }
                @media (min-width: 2560px) {
                    font-size: 1.15rem;
                }
            }
        }

        .languages {
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            a {
                color: $color-text;
                @include secondaryFont(1.25rem, 700);
                line-height: 28px;
                padding-right: .9rem;
                &:last-child {
                    padding-right: 0;
                }
                @media (min-width: 2560px) {
                    font-size: 1.15rem;
                }
            }
            .current-language {
                a {
                    padding-right: .9rem;
                    color: $primary-link-color;
                }
            }
        }
    }
    @media all and (max-width: 768px) {
        .navbar-nav {
            ul {
                li {
                    a {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media all and (min-width: 992px) {
    .dropdown-menu li{
        position: relative;
    }
    .dropdown-menu .submenu{
        display: none;
        position: absolute;
        top: 0;
        right:100%;
        left:auto;
    }

    .dropdown-menu > li:hover > .submenu{
        display: block;
    }
}
.dropdown-menu {
    background-color: $primary-color;
    padding: 5px;
    margin-right: 0.125rem;
}
