// Basic reset on the html,body,img,main-container or a element
html, body {
    height: auto;
    min-height: 100vh;
    scroll-behavior: smooth;

    @media all and (max-width: $md) {
        font-size: 14px;
    }
    @media all and (min-width: $md) {
        font-size: 16px;
    }
    @media all and (min-width: $xxl) {
        font-size: 18px;
    }
    @media all and (min-width: 2560px) {
        font-size: 18px;
    }
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    background-color: $main-body;

    main {
        flex: 1 0 auto;
    }

    img {
        max-width: 100%;
        height: auto;
        display: flex;
    }
}
