.slick-arrow {
  display: block;
  width: 50px;
  bottom: 20px;
  height: 25px;
  position: absolute;
  z-index: 9;
  cursor: pointer;
  &:before {
    color: $white-color;
    position: absolute;
    font-size: 20px;
  }
  &.prev {
      left: 75px;
      display: flex;
      justify-content: start;
      @media (max-width: $md) {
          left: 35px;
      }
  }
  &.next {
    right: 75px;
      display: flex;
      justify-content: end;
      @media (max-width: $md) {
          right: 35px;
      }
  }
}
