
$defaultFontSize: 1rem;
$defaultFontWeight: 400;
$secondaryFontWeight: var(--secondary-font-weight);

@mixin primaryFont($size: $defaultFontSize , $weight: $defaultFontWeight) {
    font-family: var(--primary-font);
    font-size: $size;
    font-weight: $weight;
    line-height: 24px;
}
@mixin secondaryFont($size: $defaultFontSize , $weight: $secondaryFontWeight) {
    font-family: var(--secondary-font);
    font-size: $size;
    font-weight: $weight;
    line-height: 28px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: unset;
    @include primaryFont($defaultFontSize,$defaultFontWeight);
    line-height: 1.33;
    color: $primary-font-color;
    background-color: $white-color;

    p {
        color: $primary-font-color;
        word-wrap: break-word;
        word-break: break-word;
        @include primaryFont(1rem, 400);
    }
    section {
        word-break: break-word;
    }
}

h1,h2,h3,h4,h5,em {
    color: $primary-font-color;
    span {
        color: $supporting-color;
        font-size: inherit;
        font-weight: inherit;
    }
    margin-bottom: 0;
}

h1 {
    @include secondaryFont(3.33rem);
    line-height: 80px;
}
h2 {
    @include secondaryFont(2.77rem);
    line-height: 60px;
}
h3 {
    @include secondaryFont(2rem);
    line-height: 48px;
}
h4 {
    @include secondaryFont(1.55rem);
    line-height: 32px;
}
h5 {
    @include secondaryFont(1.15rem);
    line-height: 28px;
}
strong {
    color: $primary-color;
    font-weight: 700;
}
a {
    color: $primary-link-color;
    text-decoration: underline;
    @include transition(.2s);

    &:hover {
        color: $primary-link-hover-color;
    }
}
span {
    @include primaryFont();
    color: #958f9a;
    strong {
        font-weight: bold;
    }
}

@media all and (max-width: $lg) {
    h1 {
        @include secondaryFont(2.77rem);
        line-height: 48px;
    }
    h2 {
        @include secondaryFont(2rem);
        line-height: 42px;
    }
    h3 {
        @include secondaryFont(1.55rem);
        line-height: 32px;
    }
    h4 {
        @include secondaryFont(1.15rem);
        line-height: 30px;
    }
    h5 {
        @include secondaryFont(1rem);
        line-height: 28px;
    }
}
