/*
FONTS:

font-family: 'Assistant', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Fraunces', serif;
font-family: 'Gidugu', sans-serif;

*/
//@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Gidugu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Comfortaa:wght@300;400;500;600;700&family=Gidugu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Comfortaa:wght@300;400;500;600;700&family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700&family=Gidugu&display=swap');

// variables
$larg-scal-heading-font-size: 4.75em;
$larg-scal-paraghraphs-font-size: 1.70rem;
$larg-scal-subtitles-font-size: 2.70rem;
$larg-scal-footer-font-size: 1rem !important;
$large-scal-text-center: center !important;


$sc-xlarge: 120em; //1920px
$sc-xxlarge: 160em; // 2560px
$sc-small: 20rem;  //320px
$sc-small-max: 30rem; //480px
$sc-larg: 64rem; //1024

$sc-ipad: 64em; //1024px;
$sc-large: 75em; //1200px

$sc-inbetween-xl-xxl-start: 142rem; // ~ 2540px
$sc-inbetween-xl-xxl-end : 161rem;

$sc-inbetween-medium-start: 105rem;
$sc-inbetween-medium-end: 142rem;




// Media Queries
$mq-xlarge: "(min-width: #{$sc-xlarge})";
$mq-xxlarge: "(min-width: #{$sc-xxlarge})";
$mq-small: "(min-width: #{$sc-small})";
$mq-small-max: "(max-width: #{$sc-small-max})";
$mq-larg: "(min-width: #{$sc-larg})";

$mq-ipad: "(min-width: #{$sc-ipad})";
$mq-large: "(min-width: #{$sc-large})";

$mq-inbetween-xl-xxl: "(min-width: #{$sc-inbetween-xl-xxl-start}) and (max-width: #{$sc-inbetween-xl-xxl-end})";
$mq-inbetween-medium: "(min-width: #{$sc-inbetween-medium-start}) and (max-width: #{$sc-inbetween-medium-end})";

[id^=hellow-] {
    * {
        font-family: 'Comfortaa', cursive;
    }
}

.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands" !important;
}

/* quick fix for the selection in the cards */
::selection {
    background-color: #2563EB !important;
}


.card-heading {
    font-weight: 400;
}

.card-link {
    color: #000000;
}

.full-width {
    width: 100%;
}

#hellow- {
    &vet-1 {
        @media #{$mq-xlarge} {
            h1 {
               font-size: $larg-scal-heading-font-size;
            }
            p, .business-hours > div {
               font-size: $larg-scal-paraghraphs-font-size;
            }
            footer p {
                font-size: $larg-scal-footer-font-size;
            }
          }

          @media #{$mq-xxlarge} {
            h1 {
                font-size: $larg-scal-heading-font-size;
            }
            p, .business-hours > div {
                font-size: $larg-scal-paraghraphs-font-size;
            }
            footer p {
                font-size: $larg-scal-footer-font-size;
            }
          }
        footer p {
            font-size: 0.6rem;
        }
        img:first-child {
            height: 100vh;
            width: 100%;
            object-fit: cover;
            object-position: 50% 26%;
        }
        .blends-theme-footer {
            bottom: 0;
        }
        .social-link a {
            color: #212529;
        }
    }
}

// hellow vet 2 start
#hellow- {
    &vet-2 {
        @media #{$mq-xlarge} {
            h1 {
               font-size: $larg-scal-heading-font-size;
            }
            p, .business-hours > div {
               font-size: $larg-scal-paraghraphs-font-size;
            }
            footer p {
                font-size: $larg-scal-footer-font-size;
                text-align: $large-scal-text-center;
            }

          }

          @media #{$mq-xxlarge} {
            h1 {
                font-size: $larg-scal-heading-font-size;
            }
            p, .business-hours > div {
                font-size: $larg-scal-paraghraphs-font-size;
            }
            footer p {
                font-size: $larg-scal-footer-font-size;
                text-align: $large-scal-text-center;
            }
          }
        @media #{$mq-small} {
        }
        img:first-child {
            object-fit: cover;
            //object-position: 50% 26%;
        }
        .blends-theme-footer {
            padding-top: 16px;
            padding-bottom: 16px;
        }
        .copyright {
            font-size: 0.8rem;
        }
        .parallax-cover {
            background: url('images/dog-ectangle.jpg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top;
            width: 100%;
            height: 100%;
            background-attachment: fixed;
        }
        .social-link a {
            color: #212529;
        }
    }
}

// hellow florist 1 start
#hellow- {
    &florist-1 {
        background-image: url('images/florist-bg.jpg');
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        width: auto;
        background-size: cover;
        align-content: center;

        #card-container .card {
            padding: 5rem;
            background: rgba(220,213,208,0.9);
            border: 0;
            color: #AA5947;
            border-radius: 15rem;
            box-shadow: 0 4px 50px 0 rgba(119, 82, 68, 0.5);
            img {
                max-width: 180px;
            }
            p > a {
                color: #AA5947;
            }
            .card-content-wrapper {
                align-items: stretch;
                @media (max-width: 1199.98px) {
                    text-align: center;
                }
            }
            .card-address {
                ul {
                    @media (max-width: 1199.98px) {
                        width: 100%;
                        justify-content: center;
                    }
                }
            }
        }

        @media #{$mq-xxlarge} {
            #card-container p, #card-container .opening-hours-days > div, #card-container ul > li > a {
                font-size: $larg-scal-paraghraphs-font-size;
            }
          }
        footer {
            position: relative;
            padding-bottom: 29px;
            @media #{$mq-large } {
                position: absolute;
                bottom: 0;
                padding-bottom: 59px;

            }
            .copyright {
                display: flex;
                justify-content: center;
                margin: 0;
                gap: 5px;
                @media (min-width: 1200px) {
                    justify-content: flex-start;
                }
            }

            .copyright a, .copyright { color: #212529; }
        }

        .social-link a {
            color: #AA5947;
        }
    }
}

// hellow florist 2 start
#hellow- {
    &florist-2 {
        background-image: url('images/florist-2.jpg');
        height: 100vh;
        background-repeat: no-repeat;
        width: auto;
        background-size: contain;
        flex-direction: row;
        justify-content: flex-end;
        align-items: end;


        #card-container .card {
            background: #FFFFFF;
            border: 0;
            color: #A5A5A5;
            border-bottom-left-radius: 14rem;
            border-top-left-radius: 14rem;
            box-shadow: 0px 4px 50px 0px #A4B1C180;
            padding: 5rem;
            margin-bottom: 5rem !important;
        }

        #card-container p > a {
            color: #A5A5A5;
        }

        @media #{$mq-xxlarge} {
            #card-container p, #card-container .opening-hours-days > div, #card-container ul > li > a {
                font-size: $larg-scal-paraghraphs-font-size;
            }
          }
        footer {
            bottom: 0;
        }

        #card-container .card .card-content-wrapper {
            align-items: stretch;
        }
    }
}

// hellow accountant 1
#hellow- {
    &accountant-1 {
        height: 100vh;
        h2, h1 {
            font-family: 'Gidugu', sans-serif;
        }

        .brand-part {
            background: #3983D9;
            color: #FFFFFF;
            //border-top-right-radius: 29rem;
        }

        .brand-part img {
            width: 120px;
        }

        .brand-part h1 {
            font-size: 5.3rem;
        }

        .card-accountant-heading {
            color: #3983D9;
            font-size: 4rem;
        }

        .card-accountant-p, .card-accountant-p address, .card-accountant-p a {
            color: #B8D2F1;
            font-family: 'Assistant', sans-serif;
            font-size: 1.50rem;
        }
        footer {
            bottom: 0;
        }
        footer .copyright, footer .copyright a{
            font-family: 'Comfortaa', cursive;
            color: #FFFFFF;
        }
    }
}

// hellow accountant 2
#hellow- {
    &accountant-2 {
        height: 100vh;
        h1, h2 {
            font-family: 'Gidugu', sans-serif;
        }

        .brand-part {
            background: #3983D9;
            color: #FFFFFF;
            border-top-right-radius: 29rem;
        }

        .brand-part img {
            width: 120px;
        }

        .brand-part h1 {
            font-size: 5.3rem;
        }

        .card-accountant-heading {
            color: #3983D9;
            font-size: 4rem;
        }

        .card-accountant-p, .card-accountant-p address, .card-accountant-p a {
            color: #B8D2F1;
            font-family: 'Assistant', sans-serif;
            font-size: 1.50rem;
        }
        footer {
            bottom: 0;
        }
        footer .copyright, footer .copyright a{
            font-family: 'Comfortaa', cursive;
            color: #FFFFFF;
        }
    }
}

// hello artist card
#hellow- {
    &artist {
        background-image: url('images/hello-artist.jpg');
        height: 100vh;
        background-repeat: no-repeat;
        width: auto;
        background-size: cover;
        background-position: center;

        * {
            font-family: 'Comfortaa', sans-serif;
        }

        .card-infos {
            background: #FFFFFF;
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
            border-radius: 0;
            padding-top: 7rem;
            padding-bottom: 7rem;
        }

        .card-infos a, .card-infos p {
            color: #000000;
        }

        @media #{$mq-small-max} {
            h1 {
                font-size: $larg-scal-heading-font-size;
            }
            .card-infos a, .card-infos p, footer p {
                font-size: $larg-scal-paraghraphs-font-size;
            }
        }

        @media #{$mq-xxlarge} {
            h1 {
                font-size: $larg-scal-heading-font-size;
            }
            .card-infos a, .card-infos p, footer p {
                font-size: $larg-scal-paraghraphs-font-size;
            }
          }

        footer {
            bottom: 0;
        }

        footer p, footer a {
            color: #FFFFFF;
        }

        .social-link {
            justify-content: center;
        }
    }
}

// hello slager card
#hellow- {
    &slager {
        background-image: url('images/slager-bg.jpg');
        height: 100vh;
        background-repeat: no-repeat;
        width: auto;
        background-size: cover;
        background-position: center;

        h1 {
            font-family: 'Fraunces', serif;
            font-size: 3.5rem;
        }
        .card-infos {
            background: #FFFFFF;
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
            border-radius: 0;
            border: 0;
            padding-top: 7rem;
            padding-bottom: 7rem;
            align-items: center;
        }

        .card-infos:after {
            position: absolute;
            content: " ";
            width: 0;
            height: 0;
        }

        .card-infos.box-control::after {
            border-bottom: 30px solid transparent;
            border-left: 100px solid transparent;
            border-right: 100px solid transparent;
            right: 20px;
            bottom: -5px;
        }
        footer {
            bottom: 0;
        }

        footer p {
            color: #FFFFFF;
        }


        #slager-division {
            display: flex;
            flex-direction: column;
        }

        .blends-rectangles {
            display: flex;
            flex-direction: row;
            position: relative;
        }

        .one:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0px;
            height: 0;
            border-left: 0px solid transparent;
            border-right: 194px solid transparent;
            border-top: 50px solid #FFFFFF;
            width: 50%;
        }

        .two:after {
            content: "";
            position: absolute;
            right: 0;
            top: 0px;
            height: 0;
            border-right: 0px solid transparent;
            border-left: 194px solid transparent;
            border-top: 50px solid #FFFFFF;
            width: 50%;
        }

        .one, .two {
            flex: 1;
        }

        .box-control a {
            color: #212529;
        }

        @media #{$mq-xxlarge} {
            .one:after {
                border-left: 0px solid transparent;
                border-right: 33rem solid transparent;
                border-top: 81px solid #FFFFFF;
            }
            .two:after {
                border-right: 0px solid transparent;
                border-left: 33rem solid transparent;
                border-top: 81px solid #FFFFFF;
            }
            h1 {
                font-size: $larg-scal-heading-font-size;
            }
            h4 {
                font-size: $larg-scal-subtitles-font-size;
            }
            .card-infos a, .card-infos p, footer p {
                font-size: $larg-scal-paraghraphs-font-size;
            }
            #slager-division p, #slager-division .opening-hours-days > div, #card-container ul > li > a {
                font-size: $larg-scal-paraghraphs-font-size;
            }
            .social-link {
                justify-content: center;
            }
          }
          @media  #{$mq-inbetween-xl-xxl} {
            .one:after {
                border-right: 17rem solid transparent !important;
                width: 34% !important;
            }
            .two:after {
                border-left: 17rem solid transparent !important;
                width: 34% !important;
            }
        }
        @media  #{$mq-inbetween-medium} {
            .one:after {
                border-right: 17rem solid transparent !important;
                width: 34% !important;
            }
            .two:after {
                border-left: 17rem solid transparent !important;
                width: 34% !important;
            }
        }
        .social-link {
            justify-content: center;
        }
    }
}

// hello slager 2 card
#hellow- {
    &slager-2 {
        background-image: url('images/slager-2-bg.jpg');
        height: 100vh;
        background-repeat: no-repeat;
        width: auto;
        background-size: cover;
        background-position: center;

        h1 {
            font-family: 'Fraunces', serif;
            font-size: 3.5rem;
        }

        .card-infos {
            background: #FFFFFF;
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
            border-radius: 0;
            border: 0;
            padding-top: 7rem;
            padding-bottom: 7rem;
            align-items: center;
        }

        .card-infos:after {
            position: absolute;
            content: " ";
            width: 0;
            height: 0;
        }

        .card-infos.box-control::after {
            border-bottom: 30px solid transparent;
            border-left: 100px solid transparent;
            border-right: 100px solid transparent;
            right: 20px;
            bottom: -5px;
        }
        footer {
            bottom: 0;
        }

        footer p {
            color: #FFFFFF;
        }


        #slager-division {
            display: flex;
            flex-direction: column;
        }

        .blends-rectangles {
            display: flex;
            flex-direction: row;
            position: relative;
        }

        .box-control a {
            color: #212529;
        }

        .one:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0px;
            height: 0;
            border-left: 0px solid transparent;
            border-right: 194px solid transparent;
            border-top: 50px solid #FFFFFF;
            width: 50%;
        }

        .two:after {
            content: "";
            position: absolute;
            right: 0;
            top: 0px;
            height: 0;
            border-right: 0px solid transparent;
            border-left: 194px solid transparent;
            border-top: 50px solid #FFFFFF;
            width: 50%;
        }

        .one, .two {
            flex: 1;
        }

        @media #{$mq-xxlarge} {
            .one:after {
                border-left: 0px solid transparent;
                border-right: 365px solid transparent;
                border-top: 81px solid #FFFFFF;
            }
            .two:after {
                border-right: 0px solid transparent;
                border-left: 365px solid transparent;
                border-top: 81px solid #FFFFFF;
            }
            h1 {
                font-size: $larg-scal-heading-font-size;
            }
            h4 {
                font-size: $larg-scal-subtitles-font-size;
            }
            .card-infos a, .card-infos p, footer p {
                font-size: $larg-scal-paraghraphs-font-size;
            }
            #slager-division p, #slager-division .opening-hours-days > div, #card-container ul > li > a {
                font-size: $larg-scal-paraghraphs-font-size;
            }
          }

    }
}

// hello wellness 1 card
#hellow- {
    &wellness {
        background-image: url('images/wellness-bg.jpg');
        height: 100vh;
        background-repeat: no-repeat;
        width: auto;
        background-size: cover;
        background-position: center;

        h1 {
            color: #B6D4EF;
        }

        h1 > span {
            text-transform: uppercase;
        }

        footer {
            bottom: 0;
        }

        footer p {
            color: #FFFFFF;
        }

        .wellness-box-controle {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .opening-hours-days > div, .opening-hours-days p {
            color: #697587;
        }

        p{
            color: #697587;
        }

        .card-infos {
            background: #F8F8F8;
            padding-top: 7rem;
            padding-bottom: 7rem;
            border-radius: 6rem;
            color:white;
            background: radial-gradient(circle at top, transparent 32px, #F8F8F8 33px);
            border-radius:15px;
            border: 0;
        }

        .box-control {
            position: relative;
        }

        .box-control::before {
            content: "";
            position: absolute;
            top: -24px;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 50px;
            background: #B6D4EF;
            border-radius: 50%;
        }

        .social-link {
            justify-content: center;
        }

        .wellness-box-controle a {
            color: #697587;
        }
    }
}


// hello wellness 2 card
#hellow- {
    &wellness-2 {
        background-image: url('images/wellness-bg.jpg');
        height: 100vh;
        background-repeat: no-repeat;
        width: auto;
        background-size: cover;
        background-position: center;

        h1 {
            color: #F1D7D7;
        }

        h1 > span {
            text-transform: uppercase;
        }

        footer {
            bottom: 0;
        }

        footer p {
            color: #FFFFFF;
        }

        .wellness-box-controle {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .opening-hours-days > div, .opening-hours-days address {
            color: #444444;
        }

        p{
            color: #444444;
        }

        .card-infos {
            background: #F8F8F8;
            padding-top: 7rem;
            padding-bottom: 7rem;
            border-radius: 6rem;
            color:white;
            background: radial-gradient(circle at top, transparent 32px, #F8F8F8 33px);
            border-radius:15px;
            border: 0;
        }

        .box-control {
            position: relative;
        }

        .box-control::before {
            content: "";
            position: absolute;
            top: -24px;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 50px;
            background: #F1D7D7;
            border-radius: 50%;
        }

        .social-link {
            justify-content: center;
        }

        .wellness-box-controle a {
            color: #212529;
        }
    }
}

// hello wellness 3 card
#hellow- {
    &wellness-3 {
        background-image: url('images/wellness-bg.jpg');
        height: 100vh;
        background-repeat: no-repeat;
        width: auto;
        background-size: cover;
        background-position: center;

        h1 {
            color: #FDCC6F;
        }

        h1 > span {
            text-transform: uppercase;
        }

        footer {
            bottom: 0;
        }

        footer p {
            color: #FFFFFF;
        }

        .wellness-box-controle {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .opening-hours-days > div, .opening-hours-days address {
            color: #444444;
        }

        p{
            color: #444444;
        }

        .card-infos {
            background: #F8F8F8;
            padding-top: 7rem;
            padding-bottom: 7rem;
            border-radius: 6rem;
            color:white;
            background: radial-gradient(circle at top, transparent 32px, #F8F8F8 33px);
            border-radius:15px;
            border: 0;
        }

        .box-control {
            position: relative;
        }

        .box-control::before {
            content: "";
            position: absolute;
            top: -24px;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 50px;
            background: #FDCC6F;
            border-radius: 50%;
        }

        .social-link {
            justify-content: center;
        }

        .wellness-box-controle a {
            color: #212529;
        }
    }
}

// hello wellness 4 card
#hellow- {
    &wellness-3 {
        background-image: url('images/wellness-bg-4.jpg');
        height: 100vh;
        background-repeat: no-repeat;
        width: auto;
        background-size: cover;
        background-position: center;

        h1 {
            color: #245943;
        }

        h1 > span {
            text-transform: uppercase;
        }

        footer {
            bottom: 0;
        }

        footer p {
            color: #FFFFFF;
        }

        .wellness-box-controle {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .opening-hours-days > div, .opening-hours-days address {
            color: #444444;
        }

        p{
            color: #444444;
        }

        .card-infos {
            background: #F8F8F8;
            padding-top: 7rem;
            padding-bottom: 7rem;
            border-radius: 6rem;
            color:white;
            background: radial-gradient(circle at top, transparent 32px, #F8F8F8 33px);
            border-radius:15px;
            border: 0;
        }

        .box-control {
            position: relative;
        }

        .box-control::before {
            content: "";
            position: absolute;
            top: -24px;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 50px;
            background: #245943;
            border-radius: 50%;
        }

        .social-link {
            justify-content: center;
        }
    }
}
